
<h1 class="page-header">SPORTSBUZZ</h1>
</div>
<p>
<strong>CRICKET:</strong>
<a href=>scorecard</a>
<a href=>commentry</a>
<a href=>News & views</a>
<a href=>1.News</a>
<a href=>2.Features</a>
<a href=>3.Daily news</a>
<a href=>4.quotes </a>
<a href=>Media</a>
<a href=>1.Photos</a>
<a href=>2.Videos</a>
<a href=>Stats</a>

</p>
<a class="thumbnail" href="#">
<img class=\'93assets-responsive" src="http://placehold.it/400x300" alt="">\
</a>\
</div>\
<p>\
\'a0\'a0<strong>FOOTBALL:</strong>\
\'a0           <a href=\'93#\'94>scorecard</a>\
<a href=\'93#\'94>commentry</a>\
<a href=\'93#\'94>News & views</a>\
<a href=\'93#\'94>1.News</a>\
<a href=\'93#\'94>2.Features</a>\
<a href=\'93#\'94>3.Daily news</a>\
<a href=\'93#\'94>4.quotes </a>\
<a href=\'93#\'94>Media</a>\
<a href=\'93#\'94>1.Photos</a>\
<a href=\'93#\'94>2.Videos</a>\
<a href=\'93#\'94>Stats</a>\
\
</p>\
<a class="thumbnail" href="#">\
<img class=\'93assets-responsive" src="http://placehold.it/400x300" alt="">\
</a>\
</div>\
<p>\
\'a0\'a0<strong>VOLLEYBALL:</strong>\
\'a0<a href=\'93#\'94>scorecard</a>\
<a href=\'93#\'94>commentry</a>\
<a href=\'93#\'94>News & views</a>\
<a href=\'93#\'94>1.News</a>\
<a href=\'93#\'94>2.Features</a>\
<a href=\'93#\'94>3.Daily news</a>\
<a href=\'93#\'94>4.quotes </a>\
<a href=\'93#\'94>Media</a>\
<a href=\'93#\'94>1.Photos</a>\
<a href=\'93#\'94>2.Videos</a>\
<a href=\'93#\'94>Stats</a>\
\
</p>\
\
<a class="thumbnail" href="#">\
<img class=\'93assets-responsive" src="http://placehold.it/400x300" alt="">\
</a>\
</div>\
\
<p>\
\'a0\'a0<strong>BADMINTON:</strong>\
\'a0           <a href=\'93#\'94>scorecard</a>\
<a href=\'93#\'94>commentry</a>\
<a href=\'93#\'94>News & views</a>\
<a href=\'93#\'94>1.News</a>\
<a href=\'93#\'94>2.Features</a>\
<a href=\'93#\'94>3.Daily news</a>\
<a href=\'93#\'94>4.quotes </a>\
<a href=\'93#\'94>Media</a>\
<a href=\'93#\'94>1.Photos</a>\
<a href=\'93#\'94>2.Videos</a>\
<a href=\'93#\'94>Stats</a>\
</p>\
\
\
<a class="thumbnail" href="#">\
<img class=\'93assets-responsive" src="http://placehold.it/400x300" alt="">\
</a>\
</div>\
<p>\
     <strong>HOCKEY:</strong>\
\'a0           <a href=\'93#\'94>scorecard</a>\
<a href=\'93#\'94>commentry</a>\
<a href=\'93#\'94>News & views</a>\
<a href=\'93#\'94>1.News</a>\
<a href=\'93#\'94>2.Features</a>\
<a href=\'93#\'94>3.Daily news</a>\
<a href=\'93#\'94>4.quotes </a>\
<a href=\'93#\'94>Media</a>\
<a href=\'93#\'94>1.Photos</a>\
<a href=\'93#\'94>2.Videos</a>\
<a href=\'93#\'94>Stats</a>\
</p>\
<a class="thumbnail" href="#">\
<img class="img-responsive"" src="img/cricket.png" alt="">
</a>\
</div><p>\
\'a0\'a0<strong>TENNIS:</strong>\
\'a0           <a href=\'93#\'94>scorecard</a>\
<a href=\'93#\'94>commentry</a>\
<a href=\'93#\'94>News & views</a>\
<a href=\'93#\'94>1.News</a>\
<a href=\'93#\'94>2.Features</a>\
<a href=\'93#\'94>3.Daily news</a>\
<a href=\'93#\'94>4.quotes </a>\
<a href=\'93#\'94>Media</a>\
<a href=\'93#\'94>1.Photos</a>\
<a href=\'93#\'94>2.Videos</a>\
<a href=\'93#\'94>Stats</a>\
</p>\
\
\
<a class="thumbnail" href="#">\
<img class=\'93assets-responsive" src="http://placehold.it/400x300" alt="">\
</a>\
</div>\
</div>\
\
</body>\
\
</html>\
}
<p>
<a href=“#”>Live matches</a>
</p>

<p>
<a href=“#”>About</a>
</p>
<p>
<a href=“#”>Services</a>
</p>
<p>
<a href=“#”>contact</a>
</p>

</div>
</div>
